.navbar {
  width: 100%;
  padding: 1.1rem 2.1rem;
  overflow: visible;
  position: sticky;
  top: 0;
  z-index: 50;
}

.navbar .navbarCon .logo img {
  width: 200px;
  opacity: 0.8;
}

.navbar .navbarCon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
  height: 82px;
  border: 1px solid #d7d7d7;
  padding: 0.5rem 2.1rem;
  background-color: #fff;
}

.navbar .navbarCon button.contact {
  background-color: #2e2c37;
  font-size: 1rem;
  color: #fff;
  padding: 0.8rem 1.5rem;
  font-weight: 400;
  text-transform: capitalize;
  border-radius: 10px;
  transition: all 0.5s ease;
  margin-left: 1rem;
}
.navbar .navbarCon button.contact:hover {
  background-color: #443f5e;
}

.navbar .navbarCon .Navlinks {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.navbar .navbarCon .Navlinks button.menuBtn {
  display: none;
  background-color: transparent;
  font-size: 1.8rem;
  line-height: 1;
  padding: 0.8rem .8rem;
  margin-right: -1rem;
  border-radius: 10px;
  outline: none;
  place-content: center;
}

.navbar .navbarCon .Navlinks .Navlink {
  position: relative;
}

.navbar .navbarCon .Navlinks .Navlink a {
  padding: 1.4rem;
  font-size: 15px;
  color: rgb(0, 0, 0, 0.7);
  text-transform: capitalize;
}

.navbar .navbarCon .Navlinks .Navlink a:hover {
  color: #000;
}

.navbar .navbarCon .Navlinks .Navlink .dropdown {
  position: absolute;
  opacity: 0;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  display: flex;
  border-radius: 1rem;
  border: 1px solid #d7d7d7;
  z-index: 100;
  min-width: 200px;
  overflow: hidden;
}

.navbar .navbarCon .Navlinks .Navlink .dropdown a {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 1rem;
  background-color: rgba(243, 238, 234, 1);
  border-bottom: 1px solid #d7d7d7;
}
.navbar .navbarCon .Navlinks .Navlink .dropdown a:last-child {
  border-bottom: none;
}

.navbar .navbarCon .Navlinks .Navlink .dropdown a:hover {
  padding: 1rem;
  background-color: rgb(231, 223, 216);
}

.navbar .navbarCon .Navlinks .Navlink:hover .dropdown {
  opacity: 1;
}


@media (max-width: 942px) {
  .navbar {
    padding: 1.1rem 1.1rem;
  }
  .navbar .navbarCon .Navlinks button.contact {
    display: none;
  }
}

@media (max-width: 1250px) {
  .navbar .navbarCon .Navlinks .Navlink {
    display: none;
  }

  .Sidebar {
    right: -18rem;
    width: 18rem;
  }

  .navbar .navbarCon .Navlinks button.menuBtn {
    display: flex;
  }
}
