.header .imgCon{
    width: 100%;
    padding: 0.1rem 2.1rem;
    position: relative;
}

.header .imgCon img{
    border-radius: 2rem;
    height: 640px;
    max-height: 90vh;
    width: 100%;
    display: block;
    object-fit: cover;
}

.header .imgCon .overlay{
    position: absolute;
    margin: 4.1rem 6.1rem;
    padding: 2.1rem;
    border-radius: 1rem;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    font-size: 58px;
    line-height: 1;
    text-transform: capitalize;
    font-weight: 600;
}

@media (max-width:942px) {
    .header .imgCon{
        padding: 0.1rem 1.1rem;
    }

    .header .imgCon img{
        height: 400px;
    }

.header .imgCon .overlay{
    margin: 1.6rem 2.6rem;
    padding: 2.1rem;
    font-size: 44px;
   
}
}
