@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.stripe-div {
  width: 100%;
  position: absolute;
  top: 50%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: -1;
}

.colored-stripe {
  height: 15px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.colored-stripe-1 {
  height: 55px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.boat-img-container {
  width: 80%;
  height: 400px;
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  transition: 0.5s all ease-in-out;
  cursor: move;
}

.boat-img-container:focus {
  outline: none;
}

.boat-img {
  width: 25rem;
  z-index: 2 !important;
  object-fit: contain;
  margin: auto;
  margin-top: 2rem;
  transition: 0.5s all ease-in-out;


}

.slick-center .boat-img-container {
  transform: scale(1.3);
  transition: all 0.3s ease-in-out;
  z-index: 1;
  pointer-events: all;

}

/* Colored stripe styles */
.slider-container {
  height: 50vh;
  width: 100%;
}

.focused-image-name {
  color: #242424;
  font-size: 2.1rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  flex-direction: column;
}

.slick-next {
  position: absolute;
  top: 50%;
  left: 95%;
}

.slick-prev {
  position: absolute;
  left: 3% !important;
  z-index: 100 !important;
  top: 50%;
}

.boat-selector {
  background-color: transparent;
  border: 1px solid;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  color: #ffffff;
  transition: all .5s ease-in-out;
}

@media (max-width: 1200px) {
  .boat-img {
    width: 20rem;
  }

  .focused-image-name {
    transform: translateY(-110%);
  }
}

@media (max-width: 767px) {
  .slick-next {
    left: 93%;
  }

  .slick-prev {
    left: 2% !important;
  }

  .focused-image-name {

    transform: translateY(-80%);
  }

  .slick-center .boat-img-container {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
    z-index: 1;
  }

  .page-container-mobile {
    position: relative;
    width: 100vw;
    height: 100%;
    overflow-y: scroll;

    /* To hide overflowing content */
  }

  .top {
    background-image: url("/bg.png");
    padding: 2rem 1rem;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }

  .centered-text {
    position: absolute;
    font-size: 3rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "Poppins", sans-serif;
    text-align: center;
    z-index: 1;
    /* Place the text above the image */
  }

  .centered-text span {
    color: white;
    /* SELECT text color */
  }

  .back-button {
    padding: 10px 20px;
    color: #242424;
    background-color: white;
    border: none;
    border-radius: 25px;
    z-index: 10;
  }

  .boats-container {
    max-width: 70rem;
    padding: 0 2rem;
    padding-top: 5rem;
    margin: auto;
    display: flex;
    gap: 5rem;
    justify-content: space-between;
  }

  .boat-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .boat-heading {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
  }

  .boat-image {
    position: relative;
    height: 100%;
    display: flex;
    align-items: end;
  }

  .boat-image::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 17rem;
    height: 17rem;

    border-radius: 50%;
    background-color: #eefeff;
    transition: 0.3s ease-in-out;
  }

  .boat-container:hover .boat-image::before {
    background-color: #88cbce;
  }

  .bottom-text {
    margin-top: 4rem;
    width: 100%;
    font-size: 0.6rem;
    color: rgb(75, 71, 71);
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .bottom-text p {
    max-width: 30rem;
  }

  @media (max-width: 1024px) {
    .boat-image::before {
      width: 13rem;
      height: 13rem;
    }
  }

  @media (max-width: 768px) {
    .boat-image::before {
      width: 17rem;
      height: 17rem;
    }

    .centered-text {
      font-size: 2.5rem;
    }

    .back-button {
      font-size: 1rem;
      position: fixed;
      bottom: 50px;
      left: 50px;
    }

    .boats-container {
      display: grid;
      gap: 4rem;
      justify-content: center;
    }

    .boat-container {
      height: 100%;
    }

    .bottom-text {
      bottom: 4.2rem;
      padding-bottom: 0.5rem;
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }

  @media (max-width: 640px) {
    .boats-container {
      padding-top: 4.5rem;
      gap: 3rem;
    }

    .boat-name {
      font-size: 1.5rem;
    }

    .boat-image::before {
      width: 15rem;
      height: 15rem;
    }

    .boat-container {
      gap: 0.5rem;
    }

    .top {
      justify-content: space-between;
      gap: 2rem;
      padding: 1rem 1rem;
    }

    .centered-text {
      position: relative;
      left: 0;
      transform: translateX(0);
      font-size: 1.5rem;
      font-weight: 900;
    }

    .back-button {
      font-size: 0.9rem;
    }

    .bottom-text {
      bottom: 0;
    }
  }

  @media (max-width: 540px) {
    .back-button {
      font-size: 0.8rem;
    }

    .boat-image::before {
      width: 17rem;
      height: 17rem;
    }

    .boats-container {
      gap: 2rem;
    }
  }

  @media (max-width: 460px) {

    html,
    body {
      height: 100%;
      overflow: hidden;
    }

    .page-container-mobile {
      height: 100vh;
    }

    .boats-container {
      padding-top: 2rem;
      gap: 2.5rem;
    }

    .top {
      gap: 1rem;
    }

    .centered-text {
      font-size: 1.2rem;
    }

    .boat-image::before {
      width: 14rem;
      height: 14rem;
    }

    .stripe-div {
      top: 30%;
    }

    .slick-center .boat-img-container {
      transform: scale(1.1);
    }
  }

  @media (max-width: 390px) {
    .boat-image::before {
      width: 11rem;
      height: 11rem;
    }
  }

  .page-container {
    display: none;
  }
}

.page-container {
  display: none;
}

@media (min-width: 768px) {
  .center-image {
    transform: scale(1.4);
    /* You can adjust the scale value as needed */
    transition: transform 0.3s;
    /* Add a smooth transition effect */
  }

  .page-container-mobile {
    display: none;
  }

  .page-container {
    display: inline-block;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* To hide overflowing content */
  }

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    object-fit: cover;
    z-index: -1;
    /* Move the image behind other elements */
  }

  .centered-text {
    position: absolute;
    font-size: 3rem;
    top: 0;
    font-family: "Poppins", sans-serif;
    margin-top: 3%;
    text-align: center;
    z-index: 1;
    /* Place the text above the image */
  }

  .centered-text span {
    color: white;
    /* SELECT text color */
  }

  .back-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 3%;
    margin-top: 3.5%;
    /* Adjust as needed */
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(10, 9, 9);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    z-index: 1;
    /* Place the button above the image */
  }

  .boats-container {
    margin-top: 2%;

    width: 70vw;
    height: 60vh;
    display: flex;
    justify-content: space-around;
  }

  .boat-container {
    cursor: pointer;
    width: 25vw;
    height: 54vh;
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .boat-heading {
    font-size: 2.5rem;
    font-weight: bold;
    /* border: 2px solid black; */
    transform: translateY(-30%);
    font-family: "Poppins", sans-serif;
  }

  .boat-heading-1 {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
  }

  .bottom-text {
    position: absolute;
    bottom: 10px;
    font-size: 0.6rem;
    color: rgb(75, 71, 71);
    text-align: center;
    width: 35%;
  }

  .circular-overlay {
    position: absolute;
    margin-left: 5%;
    margin-top: 1%;
    width: 16%;
    height: 32%;
    background-color: #ebf9fa;
    border-radius: 50%;
    z-index: -1;
    /* Place the overlay behind the image */
    transition: ease-in-out 0.5s;
  }

  .circular-overlay-1 {
    position: absolute;
    margin-left: 5%;
    margin-top: 3%;
    width: 16%;
    height: 32%;
    background-color: #ebf9fa;
    border-radius: 50%;
    z-index: -1;
    /* Place the overlay behind the image */
    transition: ease-in-out 0.5s;
  }

  @media (max-width: 768px) {
    .page-container {
      width: 100vw;
      overflow: hidden;
    }

    .centered-text {
      font-size: 1.1rem;
      margin-top: 14.5%;
    }

    .boats-container {
      flex-direction: column;
      align-items: center;
    }

    .back-button {
      font-size: 0.5rem;
      padding: 5px 10px;
      margin-top: 3%;
    }

    .boats-container {
      width: 80%;
      margin-top: 20%;
    }

    .boat-container {
      width: 60%;
      height: auto;
    }

    .boat-heading,
    .boat-heading-1 {
      font-size: 2rem;
    }

    .bottom-text {
      bottom: 10px;
      width: 75%;
      font-size: 10px;
    }

    .circular-overlay,
    .circular-overlay-1 {
      width: 100px;
      /* Adjust overlay width */
      height: 100px;
      /* Adjust overlay height */
      margin-left: 45px;
      /* Adjust margin */
      margin-top: 20px;
      /* Adjust margin */
    }
  }
}