.colorWheelCon {
    position: relative;
    transform: scale(1);
    width: 140px;
    aspect-ratio: 1;
    border-radius: 100%;
    overflow: hidden;
    margin: 0px;
    box-shadow: 0px 0px 10px 0px #00000020;
    /* border: 2px solid #222; */
  }

  .colorWheelCon::after {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 94px;
    z-index: 100;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: inset 0px 0px 10px 0px #00000020;
    /* border: 2px solid #222; */
  }
  
  .colorWheelCon .palette{
    cursor: pointer;
    transition: box-shadow 0.1s ease;
    transition: border 0.1s ease;
    border: none;
    outline: none;
    border-radius: 0 !important;
    border: 2px solid #fff;
    z-index: 2;
  }
  
  .colorWheelCon .palette.disabled{
    border: none;
    box-shadow:none;
    z-index: 0;
  }
  
  .colorWheelCon .palette:hover {
    box-shadow: 0px 0px 5px 2px #00000090;
    border: 1px solid #222;
    z-index: 3;
  }
  
  .colorWheelCon .palette:focus , .colorWheelCon .palette.active {
    box-shadow: 0px 0px 5px 2px #00000080;
    border: 2px solid #222;
    z-index: 4;
  }
  
  