@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;900&display=swap');
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.87);
  color: #213547;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --orbiton : 'Orbitron';
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 40px;
  padding: 0.6em 1.2em;
  font-size: 0.9em;
  font-weight: 500;
  font-family: "CustomFont3";
  border: none;
  cursor: pointer;
  color: #242424;
  background-color: #f9f9f9;
}

@media screen and (min-width: 360px) {
  button {
    font-size: 1em;
  }
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


/* width */
.custom-scroller::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
.custom-scroller::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #3181B720;
}

/* Handle */
.custom-scroller::-webkit-scrollbar-thumb {
  background: #00000050;
  transition: all 300ms ease;
  border-radius: 100vh;
}

/* Handle on hover */
.custom-scroller::-webkit-scrollbar-thumb:hover {
  background: #00000060;
}